.button-container {
  text-transform: capitalize;
  font-size: 1.4rem;
  background: transparent;
  border: 0.05rem solid var(--lightBlue);
  color: var(--lightBlue);
  border-radius: 0.5rem;
  padding: 0.2rem;
  cursor: pointer;
  margin: 0.2rem 0.5rem 0.2rem 0;
  transition: all 0.5s ease-in-out;
}

.button-container:hover {
  background: var(--lightBlue);
  color: var(--mainWhite);
}

.button-container:focus {
  outline: 0;
}

.to-cart {
  border-color: var(--mainYellow);
  color: var(--mainYellow);
}

.to-cart:hover {
  background-color: var(--mainYellow);
  color: var(--mainWhite);
}

.user-btn {
  border: 0.05rem solid white;
  background: none;
  background-color: green;
  color: white;
}
.logout-btn {
  border: 0.05rem solid white;
  background: none;
  background-color: red;
  color: white;
}
.login-btn {
  border: 0.05rem solid white;
  background: none;
  background-color: orange;
  color: white;
}
