.form-container {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

.form-wrapper {
  padding: 30px 20px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 1.5rem rgba(105, 105, 105, 0.5);
}

.form {
  display: grid;
  row-gap: 10px;
}

.google-btn {
  margin-bottom: 1rem;
}

.google-btn a {
  color: white;
  text-decoration: none;
}
