.user-header {
  text-transform: capitalize;
  text-align: center;
  padding: 2.5rem;
}

.user-header h1 {
  font-size: 2.7rem;
}

.user-orders-container {
  text-align: center;
}

.user-orders-container h2 {
  text-decoration: underline;
  margin-bottom: 2rem;
}

.orders-table {
  margin: auto;
  width: 60vw;
  text-align: center;
}

.orders-table th,
td {
  border: 1px solid black;
  font-size: 1.2rem;
}
